*{
	margin: 0;
	padding: 0;
}
body{
	background: linear-gradient(45deg ,#27dbe9 , #e3e67d) !important;

}
.menu-bar{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.menu-bar ul li{
	list-style: none;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.menu-bar ul li a{
	color: red;
	text-decoration: none;
	font-size: 18px;
}
.icon{
	margin-top: 80px;
	text-align: center;
	

}
.icon ul li{
	list-style: none;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.icon ul li a i{
	height: 50px;
	width: 50px;
	background: red;
	color: white;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	font-size: 18px;
	border: 1px solid red;
	transition: 0.5s ease-in-out;
}
.icon ul li a i:hover{
	background: transparent;
	color: red;
	transition: 0.5s ease-in-out;
	transform: scale(0.7);
}
.box{
	width: 30%;
	margin: 60px auto;
	background: rgba(255,255,255,0.7);
	text-align: center;
	padding: 40px 30px;
	border-radius: 10px;
}
.box h1{
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 3px;
}
.box form{
	margin-top: 20px;
}
.user-mail{
	width: 210px;
    padding: 10px;
    background: transparent;
    border: 1px solid black;
}
.submit-btn{
	padding: 10px;
    border: 1px solid red;
    background: red;
    color: white;
    cursor: pointer;
}
.user-mail:focus{
	outline: none;
}



.form-box{
	width: 40%;
	margin: 60px auto;
	background: white;
	border-radius: 7px;
	padding: 40px 60px;
}
.form-box h1{
	text-align: center;
	text-transform: uppercase;
}
.form-box form{
	margin-top: 40px;
}
form .form-control,.button{
	width: 80%;
    padding: 10px;
    display: block;
    margin: 10px auto;
}
.checkbox-field{
	margin-left: 38px;
}

.button{
	margin-top: 30px;
	background: transparent;
	border: none;
	color: white;
	text-transform: uppercase;
	border-radius: 5px;
	background: linear-gradient(45deg ,#27dbe9 , #e3e67d) !important; 
}
.form-box p{
	text-align: right;
	margin-right: 40px;
	margin-top: 20px;
}